html, body {
    height: 100%;
    background-color: #2e2e2e;
    overflow: auto;
}

.round-img {
    width: 150px;
    height: auto;
    border: 4px solid #fff;
    border-radius: 80px;
}

.title-color {
    color: #f1ce02;
    padding-bottom: 5px;
    border-bottom: 2px solid #262626;
    border-width: medium;
}

.light-title {
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 2px solid #262626;
    border-width: medium;
}

.icone img {
    width: 40px;
    margin: 3px;
}

.visitcounter {
    position: relative;
    bottom: 50px; 
}

.countercontent {
    text-align: center;
    background: white;
    padding: 15px;
    border-radius: 3px;
}

.games-title {
    color: antiquewhite;
    text-decoration: underline;
}

.projects-title {
    color: skyblue;
    padding-bottom: 5px;
    border-bottom: 2px solid #262626;    
    border-width: thick;
}

.light-notification {
    color: orange;
}